openapi: 3.1.0
info:
  title: Mercado Pago REST Authentication Chargebacks API
  description: 'Mercado Pago REST API covering payments, Checkout Pro preferences,

    subscriptions (preapprovals), customers, cards, merchant orders, Orders

    API, refunds, chargebacks, claims, reports, Point (POS), QR, and OAuth.

    All requests authenticate with a Bearer access token in the

    `Authorization` header. Webhook deliveries are signed via the

    `x-signature` and `x-request-id` headers.

    '
  version: v1
  contact:
    name: Mercado Pago Developers
    url: https://www.mercadopago.com.br/developers/en/reference
  license:
    name: Mercado Pago Terms of Service
    url: https://www.mercadopago.com.br/ayuda/terminos-y-politicas_299
servers:
- url: https://api.mercadopago.com
  description: Mercado Pago Production API
security:
- bearerAuth: []
tags:
- name: Chargebacks
  description: Read chargebacks and disputes
paths:
  /v1/chargebacks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Chargebacks
      summary: Get A Chargeback
      operationId: getChargeback
      responses:
        '200':
          description: Chargeback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chargeback'
components:
  schemas:
    Chargeback:
      type: object
      properties:
        id:
          type: integer
          format: int64
        payments:
          type: array
          items:
            type: integer
        date_created:
          type: string
          format: date-time
        date_last_updated:
          type: string
          format: date-time
        currency_id:
          type: string
        amount:
          type: number
          format: double
        status:
          type: string
          enum:
          - pending
          - in_mediation
          - won
          - lost
          - refunded
          - expired
        reason:
          type: string
        liable_party:
          type: string
          enum:
          - collector
          - mercadopago
          - insurance
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'Mercado Pago access token. Send as `Authorization: Bearer {ACCESS_TOKEN}`.

        HTTPS is required. Idempotency is supported via the `X-Idempotency-Key`

        header on POST/PUT operations.

        '
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mercadopago.com/authorization
          tokenUrl: https://api.mercadopago.com/oauth/token
          scopes:
            offline_access: Persistent refresh token
            read: Read merchant data
            write: Write merchant data
