openapi: 3.1.0
info:
  title: Mercado Pago REST Authentication Payment Methods API
  description: 'Mercado Pago REST API covering payments, Checkout Pro preferences,

    subscriptions (preapprovals), customers, cards, merchant orders, Orders

    API, refunds, chargebacks, claims, reports, Point (POS), QR, and OAuth.

    All requests authenticate with a Bearer access token in the

    `Authorization` header. Webhook deliveries are signed via the

    `x-signature` and `x-request-id` headers.

    '
  version: v1
  contact:
    name: Mercado Pago Developers
    url: https://www.mercadopago.com.br/developers/en/reference
  license:
    name: Mercado Pago Terms of Service
    url: https://www.mercadopago.com.br/ayuda/terminos-y-politicas_299
servers:
- url: https://api.mercadopago.com
  description: Mercado Pago Production API
security:
- bearerAuth: []
tags:
- name: Payment Methods
  description: Discover available payment methods
paths:
  /v1/payment_methods:
    get:
      tags:
      - Payment Methods
      summary: List Payment Methods
      operationId: listPaymentMethods
      responses:
        '200':
          description: Payment methods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
  /v1/identification_types:
    get:
      tags:
      - Payment Methods
      summary: List Identification Types
      operationId: listIdentificationTypes
      responses:
        '200':
          description: Identification types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentificationType'
components:
  schemas:
    IdentificationType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        min_length:
          type: integer
        max_length:
          type: integer
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        payment_type_id:
          type: string
        status:
          type: string
        secure_thumbnail:
          type: string
          format: uri
        thumbnail:
          type: string
          format: uri
        deferred_capture:
          type: string
        settings:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'Mercado Pago access token. Send as `Authorization: Bearer {ACCESS_TOKEN}`.

        HTTPS is required. Idempotency is supported via the `X-Idempotency-Key`

        header on POST/PUT operations.

        '
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mercadopago.com/authorization
          tokenUrl: https://api.mercadopago.com/oauth/token
          scopes:
            offline_access: Persistent refresh token
            read: Read merchant data
            write: Write merchant data
